@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #1f2937;

  --primary: #2563eb;
  --secondary: #16a34a;

  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-contrast: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-contrast: var(--text-contrast);
}

@layer components {
  .btn {
    @apply px-4 py-2 font-bold rounded-lg transition duration-300 py-3;
  }

  .btn-primary {
    @apply bg-primary text-text-contrast hover:bg-primary/95;
  }

  .btn-secondary {
    @apply bg-secondary text-text-contrast hover:bg-secondary/95;
  }

  .btn-outline {
    @apply border border-text-secondary hover:bg-primary/20 hover:text-primary hover:border-primary;
  }
}
